*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

input{
    text-align: center;
    margin-left: 40%;
}

.robot-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.robot img{
    width: 10vw;
}