*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

input{
    text-align: center;
    margin-left: 40%;
}

.robot-display{
    display: grid;
    margin: 40%;
    
}

.robot{
height: 30vh;
   border: 3px black solid;
   margin: 3px;
   width: 20vw;
   padding: 15px;
}

.robot img{
    width: 10vw; 
}